h1{
    color: red;
}

h2 {
    color: blue;
}


body{
    margin: 0px;
}

h1 {
    color: red;
}

.navbar{
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    padding: 20px;
    text-align: center;
    background-color:rgba(122, 120, 185, 0.619);
}

.navbar a{
    padding: 20px;
    text-decoration: none;
    color: black;
} 
.navbar a:hover{
    color: purple;
    background-color:honeydew;
}

body{
    margin: 0px;
    background-color: rgb(231, 237, 208);
}
.card{
    border: 1px solid whitesmoke;
    width: 350px;
    border-radius: 30px;
    text-align: center;
    margin-top: 70px;
    overflow: hidden;
    /* margin-left: 40%; */
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px gray;
}

.card img{
    /* width: 300px; */
    width: 100%;
}
.card button{
    border-style: none;
    padding: 10px;
    width: 80%;
    border-radius: 8px;
}